*.ids
*.ipr
*.iws
.idea/*
*.iml
target/*
layout v1.1/*
projectFilesBackup/*
*.log
arrasa-amiga.sublime-workspace
web-app/img/produtos/*
grails-app/assets/images/produtos/*
grails-app/assets/images/banners/*.*
