*.ids
*.ipr
*.iws
.idea/*
*.iml
out/*
target/*
layout v1.1/*
projectFilesBackup/*
*.log*
.gradle
gradle/
gradlew
gradlew.bat
arrasa-amiga.sublime-workspace
web-app/images/produtos/*
web-app/images/banners/*
grails-app/assets/images/produtos/*
grails-app/assets/images/banners/*.*
