.well-titulo-produto{
	background-color:white;
	height:50px;
	margin-top:10px;
	text-align:right;
	color:#01A8DD;
}

.well-detalhes{
	background-color:white;
	text-align:justify;
	position:relative;
	height:350px;
}

.well-detalhes-descricao{
	font-size:14px;
	font-family:'Helvetica Neue',Helvetica,Arial,sans-serif;
	text-align:justify;
	text-indent: 20px;
}

#label-preco{
	color:#39c61f;
	position:absolute;
	bottom:100px;	
}

#label-preco-a-vista{
	color:#ad96a5;
	position:absolute;
	bottom:75px;
	font-weight:bold;
	font-size: 12px;
	
}

#label-quantidade{
	position:absolute;
	bottom:35px;
	font-weight:bold;
}

#select-quantidade{
	position:absolute;
	bottom:0px;
	width:60px;
}
#btn-comprar, #btn-avisar{
	position:absolute;
	bottom:10px;
	right:0px
}

#msg-estoque-esgotado{
	position:absolute;
	bottom:0px;
	font-family: Arial, Helvetica,sans-serif;
}

#label-tipo-unitario{
	position:absolute;
	bottom:35px;
	font-weight:bold;
}

#select-unidade{
	position:absolute;
	bottom:0px;
	width:100px;
}

#produto-fotos, #produto-detalhes{
	height:350px;
	position:relative;
}